apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ts-microservice.fullname" . }}
  labels:
    {{- include "ts-microservice.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "ts-microservice.labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ts-microservice.labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ default (include "ts-microservice.fullname" .) .Values.serviceAccount.name }}
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
